.page {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px;
}

.createNewUser, .modifyExistingUser {
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
}


