.header {
	cursor: pointer;
	list-style-position: inside;
	font-weight: bold;
	padding: 10px 0;
}

.container {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 10px;
	
	padding-left: 25px;
	padding-bottom: 25px;

}

.content {
	border: 1px solid black;
	padding: 10px;

	width: fit-content;
}




