.page {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.mainContent {
	display: flex;
	justify-content: space-evenly;
	height: fit-content;
}

.linkDiv,
.ordersDiv {
	border: 2px black solid;
	border-radius: 5px;
	width: fit-content;
	padding: 10px;
	height: fit-content;
}

.selectUsersDiv {
	border: 1px black solid;
	border-radius: 3px;
	width: fit-content;
	padding: 10px;
	height: 100px;
	overflow-y: scroll;
}

.getOrders {
	display: flex;
	justify-content: space-around;
	gap: 10%;
	border-bottom: 2px solid black;
	padding: 10px;
}

.stockManager {
	width: 30%;
	padding: 10px;
	border: 2px black solid;
	padding: 10px;
	overflow-y: scroll;
}

 

