.page {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.mainContent {
	display: flex;
	justify-content: space-evenly;
	height: fit-content;
}

.optionsOrdersDiv {
	border: 2px black solid;
	border-radius: 5px;
	width: fit-content;
	padding: 10px;
	height: fit-content;
}

.optionOrderMenu {
	display: flex;
	flex-direction: column;
}

.optionOrderMenu input {
	width: 45px;
}

.optionContracts {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.optionSearchDiv {
	display: flex;
	flex-direction: row;
	gap: 10px;

	border-bottom: 2px solid black;

	padding: 10px;
	padding-left: 0px;
}


.linkDiv,
.ordersDiv {
	border: 2px black solid;
	border-radius: 5px;
	width: fit-content;
	padding: 10px;
	height: fit-content;
}

.selectUsersDiv {
	border: 1px black solid;
	border-radius: 3px;
	width: fit-content;
	padding: 10px;
	height: 100px;
	overflow-y: scroll;
}

.getOrders {
	display: flex;
	justify-content: space-around;
	gap: 10%;
	border-bottom: 2px solid black;
	padding: 10px;
}

.stockManager {
	width: 60%;
	padding: 10px;
	border: 2px black solid;
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.stockDataOutput {
	padding: 12px;
	border-radius: 6px;
	font-family: monospace;
	white-space: pre-wrap;
	word-break: break-word;
}
